html, body {  
  background-color: #222;
}

p {
  color: white;
}

.App {
  text-align: center;
  margin: 0;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-container {
  display:flex;
  justify-content: center;
}

.App-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 15vw;
}

.App-panel button {
  width: 100%;
}

.Panel-score {
  width: 100%;
}

.Panel-spawner {
  padding:5px;
  display: flex;
  width: 100%;
}

.Panel-spawner input, button {
  width: 50%;
}

.Panel-loader {
}

.App-footer {
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
